// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Heebo','Poppins', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Colors
$primary:rgb(228,1,28);
$second-color:rgb(54,54,54);
$white: white;

//Layer
$primary-layer:rgba(228, 1, 27, 0.459);
$black-layer:rgba(8, 8, 8, 0.514);


//Grays scale

$gray-1:rgb(161,161,161);
$gray-2:rgb(129, 128, 128);
$gray-3:rgb(228, 226, 226);
$gray-4:rgb(245, 243, 242);
$gray-5:rgb(116, 118, 122);





